/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
.search {
  padding: 7px;
  margin: 0px auto 15px;
  width: auto;
  background-color: rgb(233, 229, 229);
  border-radius: 8px;
  max-width: 600px;
  border: #d8d8d8;
}
.btn--main {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  /* transition: all 0.4s ease-in-out; */
  transition: all 0.4s ease-in-out;
  color: black;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  margin-left: 8px;
  margin-top: 10px;
}
.btn--main:hover {
  background-color: #969696;
  border-color: #969696;
}
