<div class="container">
  <div class="row justify-content-end">
    <form>
      <div class="form-group">
        <input class="search" placeholder="country" />
        <button type="submit" class="btn--main">Ok</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="c0l">
      <nav>
        <a routerLink="/sport">Sport</a>
        <a routerLink="/science">Science</a>
        <a routerLink="/technology">Technology</a>
        <a routerLink="/health">Health</a>
        <a routerLink="/entertainment">Entertainment</a>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-self-center">
    <h1 class="col p-t-10">{{ title }}</h1>
  </div>
</div>
<router-outlet></router-outlet>
